
    body {
 background-image: url('https://steamuserimages-a.akamaihd.net/ugc/96102627876415855/B7C044FB1BEA7E9431E380FB807FFE36E43B66CE/');
  font-family: Arial;
  background-repeat: repeat-y;
  background-size: contain;
text-align: center;
	 display: table;
	width: 58.55vh;
	height: 100vh;
	background-color: black;
margin-left: 5px;
  position: relative;
  justify-content: center;
}

.video iframe {
border-radius: 30px;
 position: relative;
  margin-bottom: 30px;
  margin-top: -30px;
  display: block;
    margin-left: auto;
	margin-right: auto;
text-align: justify;	
  height: 370px;
  width:  600px;
}


section {
    	transition: transform .5s ease-in-out;
	animation: flutuar 7s ease-in-out infinite;
  
  
}

section h1{
  font-size: 47.5px;
 margin-left: 55px;	
  margin-top: -10px;
  text-align: justify;
  color: white;
  font-weight: 700;
}
.borda {
  background-color: #ffffff;
  padding: 3vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -60px;
  padding-bottom: 7vh;
}
.vizinho {
  
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 0px;
  margin-top: 175px;
 transform: translateY(-20%); 

   
}
  .instab img {
    position: absolute;
display: block;

   margin-left: 45px;
    margin-top: -55.5px;
	  height: 90px;
	  width: 90px;
}
.instab h1 {
  position: absolute;
  display: block;
  margin-top: -35.5px;
    margin-left: 180px;
font-size: 45px;
 
  
}
.instab:hover {
	font-weight:700;
	color: #ffffff;
  background-color: #1D49A5;
 
}
.instab {
background: #312E2E; 
  border-radius: 100px; 
  padding-top: 20px; 
  cursor: pointer;
  color: #fff; 
  border: #ffffff; 
  font-size: 16px;
  height: 53.9px;
  width: 50vh; 
  margin-left: 0px;
  display: block;
    border: 2px solid white;
	 height: 128px;
width: 580px;	
}
.youtubeb {
background: #312E2E; 
  border-radius: 50px; 
  padding-top: 20px; 
  cursor: pointer;
  color: #fff; 
  border: #ffffff; 
  font-size: 16px;
  height: 53.9px;
  width: 50vh; 
  margin-left: 0px;
  margin-top: 17.5px;
  display: block;
  border: 2px solid white;
 height: 128px;
width: 580px;	
  
}
.youtubeb:hover {
	font-weight:700;
	color: #ffffff;
  background-color: #1D49A5;
}

  .youtubeb img {
    position: absolute;
display: block;
  padding: 0px;
  height: 32.34px;
    width: 46.97px;
    margin-top: -45px;
    margin-left: 37.5px;
width: 105px;
	  height: 70px;
}
.youtubeb h1 {
  position: absolute;
  display: block;
  margin-top: -35px;
    margin-left: 197.5px;
font-size: 45px;

  
}
.tiktokb {
background: #312E2E; 
  border-radius: 50px; 
  padding-top: 20px; 
  cursor: pointer;
  color: #fff; 
  border: #ffffff; 
  font-size: 16px;
  height: 53.9px;
  width: 50vh; 
  margin-left: 0px;
  margin-top: 17.5px;
  display: block;
  border: 2px solid white;
 height: 128px;
width: 580px;	
  
}
.tiktokb:hover {
	font-weight:700;
	color: #ffffff;
  background-color: #1D49A5;
}

  .tiktokb img {
    position: absolute;
display: block;
  padding: 0px;
  height: 32.34px;
    width: 46.97px;
    margin-top: -55px;
    margin-left: 47.5px;
width: 90px;
	  height: 90px;
}
.tiktokb h1 {
  position: absolute;
  display: block;
  margin-top: -35px;
    margin-left: 220px;
font-size: 45px;

  
}
.botoes {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
  text-align: center;
  width: 20vh;
  text-align: justify;
	 display: table;
  width: 100%;
	
}
@keyframes flutuar {
	0%{
		transform: translateY(-90px);
		
	}
	50%{
		transform: translateY(-100px);

	}
	100%{
		transform: translateY(-90px);
	
  }
}
   
  



